*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
}

.wrapper{
    margin: auto;
    max-width: 1472px;
    line-height: 90px;
}



header img{
    vertical-align: middle;

}

nav{
    margin: 0 25px;
}

nav, nav li, .left-side, .right-side {
    display: inline-block;
}

nav li{
    padding: 0 10px;
    
}

a{
    color: black;
    text-decoration: none;
    list-style-type: none;

}

nav a:hover{
    text-decoration: underline;
}

.right-side{
   float: right;  
}

.left-side{
    float: left;
}


#button-inizia{
    
    color: white;
    background-color: rgba(44, 31, 230, 1);
}

#button-inizia, #prova-gratuita {
    padding: 9px 25px;
    border:none;
    cursor: pointer;
    margin-left: auto;
}


#button-inizia:hover{
    background-color: rgba(44, 31, 230, 0.8);

}
    

.top-section{
margin: 100px 0;
height: 658px;
background-color: lightblue;
padding: 80px ;
}

.top-section h1{
    font-weight: bolder;
    font-size: 72px;
    line-height: 100px;
   
}

.paragraph-top{
    width: 300px;
    float: left;
    font-size: 16px;
    line-height: 20px;
    
}

.container-jumbo{
   width: 89%;
   margin: auto;
}

.img-jumbo{
    
    height: 444px;
    width: 768px;
    position:relative;
    top:0;
    left: 120px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    
}

.img-jumbo img{
    width: 100%;
    
    
}


.img-jumbo, .top-section p{
    display: inline-block;
    
}

.prova-button{
    margin: 40px 0 20px 0;
}

#arrow-downlaod{
    margin: 50px 0;
    font-size: 30px;
}

main, .dropBox-business, #questions{
    width: 73%;
    margin: auto;
}
main, #questions{
    padding: 80px 0;

}

main .choices{
    margin: 30px 0;
}

/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin: 12px 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
        border: 1px black solid; 
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #304ae0;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 4px;
      left: 4px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
  }

  #columns{
      height: 1100px;
      margin: 20px 0;
      
}

.column{
     float: left;
      width: calc(100% / 3 - 40px);
      height: 1100px;
      border: 1px solid darkgray ;
  }

  .column-bottom-part{
      padding: 30px 10px 30px 30px;
  }

  
  .column.two, #special-container-business{
      margin: 0 60px;
  }

  .first-cell{
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid darkgray;
      color: darkslategray;
  }
  .column-bottom-part h3{
      font-weight: 800;
      padding: 0 0 20px 0;
  }

img
  .price-details{
      color:rgb(139, 136, 136);
      margin: 15px 0 50px 0;
  }

  .user-benefits{
      margin-bottom: 40px;
    }
    
    .user-benefits div, .user-benefits i{
      display: inline;

  }

  .user-benefits span {
    margin-left: 3px;
    font-size: 12px;
  }


  .aquista-line{
      display: inline-block;
      padding: 30px 0;
      border-bottom:1px solid gray;
  }
  
  .aquistaora-link{
      color: blue;
      text-decoration: underline;
  }
  .punti-title{
      margin: 30px 0; 
  }

  .fa-check{
      color:blue
  }

  .check-list{
      padding: 15px 0;
  }

  .check-list-lines{
      list-style: none;
      display: inline;
  }

  .col-bottom{
      margin: 50px 0 70px 0;
      height: 230px;
      border: 1px solid darkgray ;
  }

  .col-b-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid darkgray;
    color: darkslategray;
  }

  .bottom-part-col{
      padding: 30px 15px;
  }

  .contatta-ufficio{
      float: right;
  }

  .partner{
      position: relative;
      height: 500px;
  }
  .partner #photo{
      width: 50%;
      height: 500px;
    }

    .partner-text{
        height: 100%;
        width: 39%;
        position: absolute;
        top:60px;
        margin-left: 60px;
    }
    
    .partner #photo img{
      object-fit: cover;
      height: 100%;
      width: 100%;
  }

  .partner-text, .partner #photo img{
      display: inline-block;
  }

  .partner h2{
    font-weight: 800;
  }

  .partner p, .row p{
      padding: 30px 0 20px 0;
      line-height: 27px;
    }
    #partner-p{
        width: 95%;
    }
  #button-partner{
      border: 1px solid black;
      padding: 10px 25px;

  }

  #business{
      padding: 80px 0;
  }

  .row{
      margin: 80px 0;
      content: '';
      display: table;
      clear: both;
  }

  .container-business{
      width: calc(100% / 3 - 40px);
      float: left;
      height: 500px;
  }

            
  .container-photo{
      height: 250px;

  }

  #img1, #img2, #img3, #img4, #img5, #img6{
      background-position: center;
      background-size: cover;
  } 
  
  #business #img1{
      background-image: url(img/business-feature-switching-tools.png);
  }

  .text-under-photo{
      padding-top: 30px;
  }

  .container-business p{
      width: 93%;

  }

  .container-business p span{
      text-decoration: underline;
  }

  #business #img2{
       background-image: url(img/business-feature-coordinate-it.png);
}
    #business #img3{
       background-image: url(img/business-feature-multi-device.png);
}
    #business #img4{
       background-image: url(img//business-feature-integrations-it.png);
}
    #business #img5{
        background-image: url(img/business-feature-send-files-it.png);
}
    #business #img6{
         background-image: url(img/business-feature-security.png);
}

#number-of-team{
    line-height: 20px;
    margin: 30px 0;
}

#Scopri{
    color: blue;
    text-decoration: underline;
}

#link-scopridipiù{
    padding: 20px 0;

}

#sponsors{
    
    width: 100vw;
    height: 500px;
}

.part{
    width: calc(100% / 3);
    height: 500px;
    float: left;
    
}
.part.left{
    height: 100%;
}

#group1, #group2, #group3, #group4{
    height: 250px;
    font-size: 0;
}

.sponsor.logo1, .sponsor.logo2, .sponsor.logo3, .sponsor.logo4, .sponsor.logo5, .sponsor.logo6, .sponsor.logo7, .sponsor.logo8 {
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 50%;
    
}


.sponsor.logo1 {
    background-color: rgb(151, 216, 151);
    position: relative;
          
}

.logo{
    width: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    filter: invert(1);

}



.sponsor.logo2{
    background-color:rgb(82, 46, 52);
    position: relative;
}

#group2{
    height: 50%;
}

.sponsor.logo3 {
    background-color: rgb(10, 131, 179);
    position: relative;
}


.sponsor.logo4{
    background-color:red;
    position: relative;      
}

.part.center{
    padding: 40px;
    background-color: lightgray;
}

#img-center-part{
    height: 40px;
    
}
.hr-part-center{
    border: solid rgb(185, 184, 184);
    width: 70px;
    margin: 30px 0 50px 0;
}

.paragraph-center{
    margin: 50px 0;
    line-height: 19px;
}

.sponsor.logo5{
    background-color:rgb(196, 14, 14);
    position: relative;      
}

.sponsor.logo6{
    background-color: lightblue;
    position: relative;      
}

.sponsor.logo7{
    background-color: darkblue;
    position: relative;      
}

.sponsor.logo8{
    background-color: rgb(223, 175, 56);
    position: relative;      
}

#under-sponsers{
    
    background-color: lightblue;
    width: 100vw;
    height: 350px;
    position: relative;

}

.dropBox-business{
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#under-sponsers-text{
    color: rgb(92, 15, 15);
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
}

#prova-gratuita{
    float: right;
    padding: 10px 60px;
}
#questions{
    width: 60%;
}
.all-questions h4{
    display: inline-block;
    vertical-align: middle;
    line-height: 5;
}


.fa-angle-down, .fa-angle-up{
    position: relative;
    left: 850px;
}

.row-answer {
    display: none;
    line-height: 1.5;
    font-size: 14px;
}
.row-question:hover + .row-answer{
    display: block;
}


.row-question:hover .fa-angle-down,
.fa-angle-up {
    display: none;
}
.row-question:hover .fa-angle-up {
    display: inline;
}









