*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 100px;
    background-color: white;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
}

.wrapper{
    margin: auto;
    max-width: 1472px;
    line-height: 90px;
}



header img{
    vertical-align: middle;

}

nav{
    margin: 0 25px;
}

nav, nav li, .left-side, .right-side {
    display: inline-block;
}

nav li{
    padding: 0 5px;
    
}

a{
    color: black;
    text-decoration: none;
    list-style-type: none;

}

nav a:hover{
    text-decoration: underline;
}

.right-side{
   float: right;
    
}


#button-inizia{
    
    color: white;
    background-color: rgba(44, 31, 230, 1);
    padding: 9px 25px;
    border:none;
    cursor: pointer;
    margin-left: auto;
}

#button-inizia:hover{
    background-color: rgba(44, 31, 230, 0.8);

}
    

.top-section{
margin: 100px 0;
height: 658px;
background-color: lightblue;
padding: 80px ;
}

.top-section h1{
    font-weight: bolder;
    font-size: 72px;
    line-height: 100px;
   
}

.paragraph-top{
    width: 300px;
    float: left;
    font-size: 16px;
    line-height: 20px;
    
}

.container-jumbo{
   width: 89%;
   margin: auto;
}

.img-jumbo{
    
    height: 444px;
    width: 768px;
    position:relative;
    top:0;
    left: 120px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    
}

.img-jumbo img{
    width: 100%;
    
    
}


.img-jumbo, .top-section p{
    display: inline-block;
    
}

.prova-button{
    margin: 40px 0 20px 0;
}

#arrow-downlaod{
    margin: 50px 0;
    font-size: 30px;
}

main{
    width: 73%;
    margin: auto;
    padding: 80px 0;
}

main .choices{
    margin: 30px 0;
}




